<p>External Site information</p>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Distance From Earth (mi)</th>
    </tr>
    <tr>
        <td>1</td>
        <td>International Space Station</td>
        <td>254</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Europa</td>
        <td>390,000,000</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Asteroid Belt</td>
        <td>111,500,000</td>
    </tr>
</table>

<div class="flexbox_forms">

    <form action="/external_sites" method="POST">
        <h3 class="form_title">Add Data</h3>

        <div class="form_group">
            <label for="name">Name</label>
            <input required value="" type="text" name="name" id="name"></input>
        </div>

        <div class="form_group">
            <label for="dist_from_earth">Distance from Earth (mi)</label>
            <input required type="number" name="dist_from_earth" id="dist_from_earth"></textarea>
        </div>

        <button type="submit">Add</button>
        <button type="reset">Clear</button>
    </form>


    <form action="/external_sites?_method=PUT" method="POST">
        <h3 class="form_title">Update Data</h3>

        <div class="form_group">

            <label for="external_site_select">External Site</label>
            <select name="external_site_select">

                <option value="1">International Space Station</option>
                <option value="2">Europa</option>
                <option value="3">Asteroid Belt</option>
                
            </select>              
        </div>

        <div class="form_group">
            <label for="name">Name</label>
            <input value="" type="text" name="name" id="name"></input>
        </div>

        <div class="form_group">
            <label for="dist_from_earth">Distance from Earth (mi)</label>
            <input type="number" name="dist_from_earth" id="dist_from_earth"></textarea>
        </div>

        <button type="submit">Update</button>
        <button type="reset">Clear</button>
    </form>


    <form action="/external_sites?_method=DELETE" method="POST">
        <h3 class="form_title">Delete Data</h3>

        <div class="form_group">

            <label for="external_site_select">External Site</label>
            <select name="external_site_select">

                <option value="1">International Space Station</option>
                <option value="2">Europa</option>
                <option value="3">Asteroid Belt</option>
                
            </select>       
        </div>

        <button type="submit">Delete</button>
        <button type="reset">Clear</button>
    </form>

</div>
