<p>Organizations information</p>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
    </tr>

    {{#each data}}

        <tr data-id="{{this.organization_id}}">
            <td>{{this.organization_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.country}}</td>
        </tr>

    {{/each}}

    {{!-- <tr>
        <td>1</td>
        <td>The National Aeronautics and Space Administration</td>
        <td>United States of America</td>
    </tr>
    <tr>
        <td>2</td>
        <td>The Latin American and Caribbean Space Agency</td>
        <td>Mexico</td>
    </tr>
    <tr>
        <td>3</td>
        <td>The South African National Space Agency</td>
        <td>South Africa</td>
    </tr> --}}
</table>

<div class="flexbox_forms">

    <form action="/organizations" method="POST">
        <h3 class="form_title">Add an Organization</h3>

        <div class="form_group">
            <label for="name">Name</label>
            <input required value="" type="text" name="name" id="name"></input>
        </div>

        <div class="form_group">
            <label for="country">Country</label>
            <input required type="text" name="country" id="country"></textarea>
        </div>

        <button type="submit">Add</button>
        <button type="reset">Clear</button>
    </form>


    <form action="/organizations?_method=PUT" method="POST">
        <h3 class="form_title">Update an Organization</h3>

        <p>Identify the ID, and leave any fields which you don't wish to update blank.</p>

        <div class="form_group">

            <label for="organization_select">Organization</label>
            <select name="organization_select">

                <option value="1">The National Aeronautics and Space Administration</option>
                <option value="2">The Latin American and Caribbean Space Agency</option>
                <option value="3">The South African National Space Agency</option>
                
            </select>          
        </div>

        <div class="form_group">
            <label for="name">Name</label>
            <input value="" type="text" name="name" id="name"></input>
        </div>

        <div class="form_group">
            <label for="country">Country</label>
            <input value="" type="text" name="country" id="country"></textarea>
        </div>

        <button type="submit">Update</button>
        <button type="reset">Clear</button>
    </form>


    <form action="/organizations?_method=DELETE" method="POST">
        <h3 class="form_title">Delete an Organization</h3>

        <div class="form_group">

            <label for="organization_select">Organization</label>
            <select name="organization_select">

                <option value="1">The National Aeronautics and Space Administration</option>
                <option value="2">The Latin American and Caribbean Space Agency</option>
                <option value="3">The South African National Space Agency</option>
                
            </select>          
        </div>

        <button type="submit">Delete</button>
        <button type="reset">Clear</button>
    </form>

</div>
