<a href="/home">Home</a>

<p>Crew Members information</p>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Country of Birth</th>
        <th>Birth Date</th>
        <th>Home Base Leader</th>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>Example data</td>
        <td>Example data</td>
        <td>Example data</td>
    </tr>
    <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
        <td>Example data</td>
        <td>Example data</td>
        <td>Example data</td>
    </tr>
</table>

<div class="flexbox_forms">

    <form action="/crew_members" method="POST">
        <h3 class="form_title">Add Data</h3>

        <div class="form_group">
            <label for="crew_member_id">ID</label>
            <input required value="" type="text" name="crew_member_id" id="crew_member_id">
        </div>

        <div class="form_group">
            <label for="first_name">First Name</label>
            <input required value="" type="text" name="first_name" id="first_name"></input>
        </div>

        <div class="form_group">
            <label for="last_name">Last Name</label>
            <input required value="" type="text" name="last_name" id="last_name"></input>
        </div>

        <div class="form_group">
            <label for="birth_country">Country of Birth</label>
            <input required value="" type="text" name="birth_country" id="birth_country"></input>
        </div>

        <div class="form_group">
            <label for="birth_date">Birth Date</label>
            <input required value="" type="date" name="birth_date" id="birth_date"></input>
        </div>

        <div class="form_group">
            <label for="home_base_lead">Home Base Leader</label>
            <input value="" type="checkbox" name="home_base_lead" id="home_base_lead"></input>
        </div>

        <button type="submit">Add</button>
        <button type="reset">Clear</button>
    </form>


    <form action="/crew_members?_method=PUT" method="POST">
        <h3 class="form_title">Update Data</h3>

        <p>Identify the ID, and leave any fields which you don't wish to update blank.</p>

        <div class="form_group">
            <label for="crew_member_id">ID</label>
            <input required value="" type="text" name="crew_member_id" id="crew_member_id">
        </div>

        <div class="form_group">
            <label for="first_name">First Name</label>
            <input value="" type="text" name="first_name" id="first_name"></input>
        </div>

        <div class="form_group">
            <label for="last_name">Last Name</label>
            <input value="" type="text" name="last_name" id="last_name"></input>
        </div>

        <div class="form_group">
            <label for="birth_country">Country of Birth</label>
            <input value="" type="text" name="birth_country" id="birth_country"></input>
        </div>

        <div class="form_group">
            <label for="birth_date">Birth Date</label>
            <input value="" type="date" name="birth_date" id="birth_date"></input>
        </div>

        <div class="form_group">
            <label for="home_base_lead">Home Base Leader</label>
            <input value="" type="checkbox" name="home_base_lead" id="home_base_lead"></input>
        </div>

        <button type="submit">Update</button>
        <button type="reset">Clear</button>
    </form>


    <form action="/crew_members?_method=DELETE" method="POST">
        <h3 class="form_title">Delete Data</h3>

        <p>Identify the ID of what you wish to delete.</p>

        <div class="form_group">
            <label for="crew_member_id">ID</label>
            <input required value="" type="text" name="crew_member_id" id="crew_member_id">
        </div>

        <button type="submit">Delete</button>
        <button type="reset">Clear</button>
    </form>

</div>
