<a href="/home">Home</a>

<p>External Site information</p>

<p>Gotta upload CURD stuff...</p>

<table>
    <tr>
        <th>Example Data 1</th>
        <th>Example Data 2</th>
        <th>Example Data 3</th>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
    </tr>
    <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
    </tr>
</table>

