<p>Welcome to the home page!</p>

<table>
    <tr>
        <th>Example Data 1</th>
        <th>Example Data 2</th>
        <th>Example Data 3</th>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
    </tr>
    <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
    </tr>
</table>

<a href="/missions">Missions</a> <br>

<a href="/external_sites">External Sites</a> <br>

<a href="/crew_members">Crew Members</a> <br>

<a href="/Organizations">Organizations</a> <br>
